TC-Parser/src/main/java/com/ericsson/eniq/events/parser/service/deltaexport.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT model ((mo+))>
<!ELEMENT mo ((attr*))>
<!ATTLIST mo
	fdn CDATA #REQUIRED
	typeOfChange (Created | Modified | Deleted) #REQUIRED
	timestampOfChange CDATA #REQUIRED
>
<!ELEMENT attr (#PCDATA)>
<!ATTLIST attr
	name (userLabel | siteRef | rbsIubId | neMIMversion | MeContextId | localCellId | adjacentCell | UtranCellId | tCell | rbsId) #REQUIRED
>
