TC-Parser/src/main/java/com/ericsson/eniq/events/parser/service/export.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT model ((mo+))>
<!ELEMENT mo ((attr+))>
<!ATTLIST mo
	fdn CDATA #REQUIRED
	mimName CDATA #IMPLIED
	mimVersion CDATA #IMPLIED
>
<!ELEMENT attr (#PCDATA | seq | struct)* >
<!ELEMENT seq (item*)>
<!ELEMENT item (#PCDATA | struct)*>
<!ELEMENT struct (attr+)>
<!ATTLIST attr
	name (userLabel | siteRef | rbsIubId | neMIMversion | MeContextId | localCellId | adjacentCell | UtranCellId | tCell | rbsId) #REQUIRED
>
